// Import Bulma's core
@import "../../node_modules/bulma/sass/utilities/_all.sass";

// Set your colors
$primary: #007cf8;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

$light: #787c80;
$dark: #3c4044;
$danger: #f83c5e;
$success: #1ebc7c;

$border-color: #dce0e4;
// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    "white": (
      $white,
      $black,
    ),
    "black": (
      $black,
      $white,
    ),
    "light": (
      $light,
      $light-invert,
    ),
    "dark": (
      $dark,
      $dark-invert,
    ),
    "primary": (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    "link": (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    "info": (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    "success": (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    "warning": (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    "danger": (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
  ),
  $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

#app {
  font-family: "Poppins";
}

// GiftInfo component styles
#gift-form {
  margin: 0rem 0.5rem;
  padding-left: 0.5rem !important;

  #amount-field {
    .button {
      border-radius: 5px;
    }
  }

  .parent-field {
    margin-bottom: 2.25rem;
  }

  .field {
    margin-right: 1.25rem;

    .label {
      font-size: 14px;
    }
  }

  .gift-title {
    color: #1e2226;
    font-size: 18px;
    margin-bottom: 1rem;
  }

  .b-radio {
    .check {
      border: 1px solid $border-color !important;
      width: 18px;
      height: 18px;
    }

    .control-label {
      padding-left: 0.25rem !important;
      font-size: 14px;
    }
  }

  .button,
  .input,
  .textarea {
    border-color: $border-color;
    &::placeholder {
      color: $light;
      font-size: 14px;
      font-weight: normal;
    }
  }

  .button {
    font-size: 14px;
    height: 40px;

    .is-static {
      color: $dark;
    }
  }

  .help {
    //font-size: 12px;
    font-weight: 500;
  }
}

// BrandInfo component styles

#brand-info {
  position: relative;

  .logo {
    height: 200px;
    text-align: center;
  }

  .logo img {
    height: 100%;
    width: auto;
  }

  #name {
    color: #1e2226;
    font-size: 22px !important;
    margin-top: 24px;
    margin-bottom: 12px;
  }

  #state {
    margin-bottom: 18px;
    font-size: 12px;
    font-weight: normal;
  }

  .subtitle {
    color: $light;
    font-size: 12px;
    font-weight: 500;
  }

  .value {
    color: $dark;
    font-size: 14px;
    font-weight: normal;
  }

  .keywords {
    @include from($desktop) {
      margin-bottom: 70px;
    }
  }

  #social-icons {
    position: relative;

    @include from($desktop) {
      width: 100%;
      bottom: 0;
      left: 0;
      position: absolute;
    }
  }
}

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/buefy/src/scss/buefy";
